{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    {% block style_css %}{% endblock %}

    <title> {% block title %}
        Новости
    {% endblock %} </title>

</head>
<body>

{% include "inc/_navbar.html" %}

<div class="container">
    <div class="row row-cols-md-4 row-cols-lg-4">
        <div class="col-2 col-md-2 col-sm-2 col-lg-2 ">
            {% block sidebar %}
            {% endblock %}
        </div>

        <div class="col-10 col-md-10 col-sm-10 col-lg-10">

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}

            {% if page_obj.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   tabindex="-1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for p in page_obj.paginator.page_range %}


                            {% if page_obj.number == p %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                </li>
                            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                </li>
                            {% endif %}

                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="1"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

</body>
</html>